
// trigger update via this gpio, "flash" button by default
//#define BUTTON_PIN      0

// WiFi Network credentials
#define SSID "********"
#define PASS "********"

// HTTP server with /rom0.bin and /rom1.bin
// To start one, from the firmware directory:
//  python3 -m http.server
//  python2 -m SimpleHTTPServer
#define UPDATE_HOST     {192, 168, 42, 42}
#define UPDATE_PORT     8000
